$text-link: #bda8ef;
$text-highlight: #ba9ffb;
$text-header: #ffffffe6;
$text-body: #ffffff99;
$text-footer: #98a3b3;
$text-danger: #f87171;
$bg-primary: #121212;
$bg-secondary: #1a1625;
$bg-tertiary: #2f2b3a;
$border: #ffffff0d;
$black: #000;
$blue: #2c89e0;

.markdown {

	// STYLES
	&.preview {
		max-height: 50vh;
		overflow-y: scroll;
	}

	.span {
		border-style: none;
	}

	strong {
		color: $text-header;
		font-weight: 500;
		text-decoration: underline;
	}
	em {
		color: #a688fa;
	}

	// TEXT
	h2,
	h3 {
		color: $text-header;
		margin-bottom: 0.25rem;
		margin-top: 0.75rem;
	}

	h1 {
		margin-top: 0.5rem;
	}

	h2 {
		font-size: 1.65rem;
		font-weight: 700;
	}

	p {
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}

	a {
		color: $blue;
	}

	p {
		color: $text-body;
	}

	hr {
		border-bottom: 2px solid $border;
		margin: 1rem 0 1.5rem;
	}

	// CODE
	blockquote {
		padding-left: 2rem;
		border-left: 5px solid $border;
	}

	pre {
		background-color: $bg-secondary;
		border: 1px solid $border;
		border-radius: 0.25rem;
		padding: 0.75rem 1rem;
		margin: 1rem 0;

		code {
			color: $text-highlight;
			background-color: rgba(0, 0, 0, 0);
			border-style: none;
		}
	}

	code {
		color: $text-highlight;
		background-color: $bg-secondary;
		border: 1px solid $border;
		border-radius: 0.25rem;
		padding: 0.1rem 0.2rem;
	}

	// LISTS
	ul {
		list-style-type: square;
		list-style-position: inside;
		margin-left: 1.5rem;
	}

	ol {
		list-style-type: upper-roman;
		list-style-position: inside;
		margin-left: 1.5rem;

		li::marker {
			color: $text-header;
		}
	}
	li {
		color: $text-body;
	}

	// TABLES
	table {
		table-layout: fixed;
 		width: 100%;
		margin-top: 1.5rem;
	}
	table, th, td {
		border: 1px solid $border;
		border-radius: 0.25rem;
	}
	tr {
		align-items: center;
		text-align: center;
		justify-content: center;
		flex: auto;
	}
	th, td {
		color: whitesmoke;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	th {
		background-color: $bg-secondary;
	}

	// CHECKLIST
	.checklist {
		display: flex;
    	flex-direction: column;
		position: relative;
		cursor: pointer;
		font-size: 22px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		div {
			display: flex; /* Aligns the checkbox and label horizontally */
			align-items: center; /* Ensures vertical alignment */
			margin-bottom: 1rem; /* Adds spacing between checklist items */
		}

		label {
			color: $text-body;
			font-size: 1rem;
			margin-left: 1rem;
			place-self: center;
			position: relative;
		}

		input[type="checkbox"] {
			appearance: none;
			width: 20px;
			height: 20px;
			background-color: none;
			border: 3px solid $bg-tertiary;
			border-radius: 4px;
			position: relative;
		}	
		input[type="checkbox"]:checked::before {
			content: "X"; /* Unicode checkmark character */
			font-size: 20px;
			color: $text-highlight;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	
}