.swapA {
	transition: all 0.4s ease-out;
	transform: translateY(3.1rem) scale(0.75);
}
.swapARev {
	transition: all 0.4s ease-out;
	transform: translateY(-0.7rem) scale(1.25);
}
.swapB {
	transition: all 0.4s ease-out;
	transform: translateY(-3.1rem) scale(1.25);
}
.swapBRev {
	transition: all 0.4s ease-out;
	transform: translateY(0.7rem) scale(0.75); 
}